
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PatientDisplay</title>
</head>
<body>
    This code we will do later...
</body>
</html>
